@import "../../../shared/scss/themes/dark";

.gallerySection {
    color: $secondary;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        .galleryContainer {
            max-width: 80vw;
            margin: auto;
        }
    }
}
.bottomBar {
    width: 100vw;
    height: 0.3rem;
    background-color: #332929;
    border-radius: 1rem;
    margin-top: 2rem;
}