@import "../../scss/custom";

.btn,
.btn a {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1.5rem 1rem;
  padding: 1rem 1.5rem;
  background: $light;
  text-decoration: none !important;
  color: $black;
  border-radius: 100px;
  &:hover,
  &:focus {
    background: $black;
    border-color: $black;
    color: $white;
    cursor: pointer;
  }
}
